* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*index*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  background-color: black;
  min-height: 100vh;
  /*galeria*/
  /*discografia*/
  /*tour*/
  /*contacto*/
}

body h1 {
  color: aliceblue;
  font-size: xx-large;
  font-family: fantasy;
  margin: 0px;
  text-align: left;
  line-height: 100%;
}

body h2 {
  color: aliceblue;
  font-size: xx-large;
  font-family: fantasy;
  margin: 10px;
  border: 4px solid #292525;
  line-height: 100%;
}

body a {
  color: gray;
  font-family: fantasy;
}

body article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body aside {
  background-color: #292525;
}

body header {
  background-image: url(../img/Inicio.png);
  background-repeat: no-repeat;
  background-size: 28%;
  background-position: center;
  background-color: black;
  height: 100px;
}

body header nav li {
  list-style: none;
}

body header nav li a {
  text-decoration: none;
  font-style: unset;
  float: left;
  list-style: none;
  margin: 10px;
  background: #292525;
  position: relative;
  font-size: 100%;
}

body footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  margin: 1px;
  background-color: #b80303;
  margin: 20px;
  height: 65px;
}

body footer ul li a {
  text-decoration: none;
  font-style: unset;
  float: left;
  list-style: none;
  margin: 10px;
  background: #292525;
  position: relative;
  font-size: 100%;
}

body footer ul li a .piedepagina {
  margin: 20px;
  position: relative;
}

body #container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #292525;
}

body #container .imag-i1 {
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  height: 500px;
  margin: 20px;
}

body #container .texto {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-stretch: normal;
  position: relative;
  margin: 20px;
  background-color: black;
  background-position: center;
}

body #container .imag-i2 {
  background-image: url(../img/inicio2.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  height: 500px;
  margin: 20px;
}

body #container .copy {
  color: white;
  background-color: black;
}

body .videos {
  margin: 22px;
  background-color: #b80303;
}

body .imagenes {
  margin: 22px;
  background-color: #b80303;
}

body .audio {
  margin: 15px;
  background-color: #b80303;
  position: relative;
}

body .pepe {
  background-color: #b80303;
  color: gainsboro;
  -webkit-transform: translate(13%);
          transform: translate(13%);
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

body .grid-layount {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 20 auto;
  background-color: #b80303;
  padding: 20px;
  border: white;
  background-size: center;
}

body .caja {
  background-color: black;
  color: whitesmoke;
  width: 208px;
  height: 80px;
  margin: 5px;
  border: white;
  text-align: center;
  line-height: 75px;
  font-family: fantasy;
  font-size: 150%;
  position: relative;
}

@media (max-width: 768px) {
  body .grid-layount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .caja {
    width: 70vw;
  }
}

body .grid-layount1 {
  background-color: #292525;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 200px;
}

body .caja-c1 {
  background-color: #b80303;
  width: 100%;
  height: 50px;
}

body .caja-c2 {
  background-color: #292525;
  width: 100%;
  height: 50px;
}

body .caja-c3 {
  background-color: #b80303;
  width: 100%;
  height: 50px;
}

body .caja-c4 {
  background-color: #292525;
  width: 100%;
  height: 50px;
}

.box-uno {
  background-color: #040e1f;
  width: 360px;
}

.box-dos {
  background-color: #f31616;
  width: 310px;
}

.box-tres {
  background-color: #040e1f;
  width: 410px;
}

.box-cuatro {
  background-color: #f31616;
  width: 205.71429px;
}
/*# sourceMappingURL=main.css.map */